//
// In processing...
//

@use "variables" as *;

body {
    background-color: var(--color-background);
    transition: background-color var(--transition-fast);
}

a,
a:visited,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    cursor: pointer;
}

button {
    border: none;
    outline: none;
}

input {
    border: none;
    outline: none;
}