@use "variables" as *;
@use "media" as *;

body {
    background-image: var(--gradient-background);
    transition: background-color var(--transition-fast);
}

a,
a:visited,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    cursor: pointer;
}

button {
    border: none;
    outline: none;
}

input {
    border: none;
    outline: none;
}

body::-webkit-scrollbar {
    display: none;
}

.Toastify__toast {
    @include mobile-small {
        width: 80%;
        border-radius: 6px;
        margin: 10px;
    }
}

.Toastify__progress-bar,
.Toastify__progress-bar--wrp {
    display: none !important;
}