@use "mixins" as *;
@use "media" as *;

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-inline: auto;
    padding-inline: var(--padding-inline-container);

    @include mobile-small {
        padding-inline: var(--padding-inline-container-small);
    }
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
}

.visually-hidden {
    @include visually-hidden;
}

.mobile-hidden {
    @include mobile-hidden;
}

.mobile-visible {
    @include mobile-visible;
}

.overlay {
    @include overlay;
}