:root {
    // Default colors

    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-gray: #CECECE;
    --color-darkgray: #252525;
    --color-blue: #3B81D2;
    --color-darkblue: #114077;
    --color-red: #b00000;

    // Theme colors and gradients

    --color-text: var(--color-black);
    --gradient-background: linear-gradient(135deg, #4a90e2, #50bfe6);

    // Fonts

    --font-family: "Poppins", sans-serif;

    // Transition

    --transition: 0.5s ease;
    --transition-fast: 0.25s ease;

    // Sizes and indents

    --padding-inline-container: 24px;
    --padding-inline-container-small: 12px;

    --padding-block-header: 24px;

    // Theme settings

    body[data-js-theme="light"] {
        --color-text: var(--color-black);
        --gradient-background: linear-gradient(135deg, #4a90e2, #50bfe6);
    }

    body[data-js-theme="dark"] {
        --color-text: var(--color-gray);
        --gradient-background: linear-gradient(135deg, #1a1c2b, #343e5a);
    }
}