:root {
    // Default colors

    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-red: #B04B4C;
    --color-blue: #18314D;
    --color-light-blue: #DAF3FF;

    // Fonts

    --font-family: "Poppins", sans-serif;

    // Borders

    // Sizes and indents

    //
    // In processing...
    //
}