@use "../../styles/index" as *;

.form {

    // .row added for higher selector specificity

    &__row,
    .row {
        justify-content: center;
        padding-bottom: 50px;
    }

    @include mobile {
        &__column {
            width: 100%;
        }
    }
}