@use "../../styles/index" as *;

.form-wrap {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background-color: var(--color-blue);
    border-radius: 15px;
    position: relative;
    transition: background-color var(--transition);

    &__tools {
        display: flex;
        padding: 10px;
        justify-content: end;
    }

    &__button--toggle-mode {
        background-color: transparent;
        z-index: 9;
        transition: transform var(--transition);

        @include desktop-screen {

            &:hover,
            &:focus-visible {
                transform: scale(1.1);
                outline: none;
            }
        }
    }

    &__button-icon {
        position: relative;
        width: 24px;
        height: 24px;
    }

    &__icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__form-container {
        width: 50%;
        position: absolute;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -1px;
        width: 150px;
        height: 100.1%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
        transition: background-color var(--transition-fast);
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    @include mobile {
        width: 100%;
    }

    @include mobile-small {
        margin-top: 25px;

        &__form-container {
            width: 75%;
        }

        &::after {
            width: 75px;
        }
    }
}

body[data-js-theme="light"] {
    .form-wrap {
        background-color: var(--color-blue);

        &::after {
            background-color: var(--color-white);
        }
    }
}

body[data-js-theme="dark"] {
    .form-wrap {
        background-color: var(--color-darkblue);

        &::after {
            background-color: var(--color-darkgray);
        }
    }
}