.button--toggle-theme {
    display: flex;
    width: 45px;
    height: 25px;
    border-radius: 15px;
    align-items: center;
    padding: 0 4px;
    transition: background-color var(--transition);
}

.button--toggle-theme-decoration {
    height: 19px;
    width: 19px;
    border-radius: 50%;
    background-color: black;
    transition: transform var(--transition), background-color var(--transition);
}

body[data-js-theme="light"] {
    .button--toggle-theme {
        background-color: var(--color-darkgray);
    }

    .button--toggle-theme-decoration {
        background-color: var(--color-white);
        transform: translateX(0);
    }
}

body[data-js-theme="dark"] {
    .button--toggle-theme {
        background-color: var(--color-white);
    }

    .button--toggle-theme-decoration {
        background-color: var(--color-darkgray);
        transform: translateX(19px);
    }
}