@use "../../styles/index" as *;

.account-wrap {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 400px;
    background-color: var(--color-blue);
    border-radius: 15px;
    position: relative;
    transition: background-color var(--transition);

    &__tools {
        display: flex;
        justify-content: end;
        padding: 10px;
    }

    &__button--exit {
        background-color: transparent;
        transition: transform var(--transition);

        @include desktop-screen {

            &:hover,
            &:focus-visible {
                transform: scale(1.1);
            }
        }
    }

    &__content {
        padding: 10px;
    }

    &__username {
        @include fluid-text(20, 18);
        @include font(var(--font-family), 600, 1);
    }

    &__id {
        @include fluid-text(12, 12);
        @include font(var(--font-family), 400, 1);
    }

    &__email,
    &__status {
        @include fluid-text(16, 16);
        @include font(var(--font-family), 400, 1);
        margin-top: 10px;
    }

    &__username,
    &__id,
    &__email,
    &__status {
        color: var(--color-text);
        transition: color var(--transition);
    }

    @include mobile {
        width: 100%;
    }
}

body[data-js-theme="dark"] {

    .account-wrap {
        background-color: var(--color-darkblue);
    }
}